// variables
$primary-color: #111111;
$primary-color-2: #877502;
$secondary-color: #ff6347;
$tertiary-color: #ffffff;

// module import
@use 'main-menu';
@use 'typography';

* { margin: 0; padding: 0 }

// Extend/Inheritance
%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%bottom-fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.address{
  font-size: 80%;
  margin: 0px;
  color: $secondary-color;
}

.sign-in-form { 
  padding: 30px;
  width: 50%; 
  background-color: $primary-color;
}

.cursor-pointer {
  cursor: pointer;
}

.brand {
  width: 3vw;
  border-radius: 100vw;
}

.nav-margin {
  @media only screen and (min-width: 600px) and (max-width: 900px) {
    margin-left: 3vw;
  }

  @media only screen and (min-width: 900.1px) {
    margin-left: 16vw;
  }
}

.footer{
  @extend %center;
  height: 5.5vh;
  background-color: #111111;
  margin: 0px auto;
  @extend %bottom-fixed;
}
